<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>퀴즈</title>
</head>
<body>
  <h2 class="quiz-title">퀴즈</h2>
  <div class="quiz-content">
    <form action="/submit-quiz" method="POST">
      <p><%= question %></p>
      <% options.forEach(function(option) { %>
        <input type="radio" name="answer" value="<%= option.optionValue %>"> <%= option.optionNum %>번 : <%= option.optionText %><br>
      <% }); %>
      <input type="hidden" name="correctAnswer" value="<%= correctAnswer %>"> <!-- 정답 정보 추가 -->
      <input type="submit" value="제출" class="quiz-button"> <!-- quiz-button 클래스 추가 -->
    </form>
  </div>
</body>
</html>
